<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
<div th:each="security : ${securities}">
    <a th:href="@{/securities/{id}(id=${securities.getId()})}"
       th:text="${securities.getKind() + ', ' + securities.getIssuer() + ', ' + securities.getNumber() + ', ' + securities.getTotal_value()}">securities</a>
</div>

<br/>
<hr/>

<a href="/securities/new">Додати цінний папір</a>
</body>
</html>