<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
<form th:method="POST" th:action="@{/securities/search}">
    <label for="query">Введіль пошуковий запит: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Шукати!"/>
</form>

<div th:if="${securities}">

    <div th:if="${securities.isEmpty()}">
        <span>Цінних паперів не знайдено</span>
    </div>

    <div th:each="security : ${securities}">
        <p th:text="${securities.getKind() + ', ' + securities.getIssuer() + ', ' + securities.getNumber() + ', ' + securities.getTotal_value()}">securities</p>

        <div th:if="${securities.getOwner() != null}">
            <span>Цінний папір належить: </span> <span th:text="${securities.getOwner().getlastName()}">Investor Name</span>
        </div>

        <div th:if="${securities.getOwner() == null}">
            <span>Цінний папір нікому не належить</span>
        </div>

        <hr/>
    </div>
</div>
</body>
</html>